{% extends '::base.html.twig' %}

{% block title %}Liste des locations{% endblock %}

{% block body %}
    <section id="accommodations">
            {% for accommodation in accommodations %}
        <div>
            <h1>{{ accommodation.location }} <span class="price">{{ accommodation.pricePerNight }}</span></h1>
            <p>{{ accommodation.description }}</p>
            <dl>
                <dt>Surface</dt>
                <dd>{{ accommodation.flatSize }}</dd>
            </dl>
            <p><img src="{{ accommodation.photoUrl }}" /></p>
            <a href="#">Faire une demande de réservation</a>
        </div>
            {% endfor %}
    </section>
{% endblock %}
